@page "/app/{organizationSlug}/{hubSlug}/content/components"
@inherits ContentBasePage
<ContentSublayout Title="Components">
    <Toolbar>
        <Button Clicked="@OnBeginCreateClicked" Type="ButtonType.PrimaryOutline">
            @HeroIcons.SquaresPlus("inline-block mr-2")
            <span>New Definition</span>
        </Button>
        <Button Clicked="@RefreshData" Type="ButtonType.PrimaryOutline">
            @HeroIcons.ArrowUturnDown("inline-block")
        </Button>
    </Toolbar>
    <Body>
        <TemplatedGrid Items="@_components">
            <ColumnTemplate>
                <Header>ID</Header>
                <Cell>@context.Id</Cell>
            </ColumnTemplate>

            <ColumnTemplate>
                <Header>Name</Header>
                <Cell>@context.Name</Cell>
            </ColumnTemplate>

            <ColumnTemplate>
                <Header>Slug</Header>
                <Cell>@context.Slug</Cell>
            </ColumnTemplate>

            <ColumnTemplate>
                <Header>Definition</Header>
                <Cell>@context.DefinitionId</Cell>
            </ColumnTemplate>

            <ColumnTemplate>
                <Header>Fields</Header>
                <Cell>@context.Fields?.Count()</Cell>
            </ColumnTemplate>
        </TemplatedGrid>

        <Dialog Title="Create Component" @bind-IsVisible="@_createContext.IsVisible">
            <Content>
                @if (_createContext.IsWaiting)
                {
                    <Spinner />
                }
                else
                {
                    <div class="mb-3">
                        <Label>Name</Label>
                        <TextBox @bind-Value="@_createContext.TentativeModel.Name" />
                    </div>

                    <div class="mb-3">
                        <Label>Slug</Label>
                        <TextBox @bind-Value="@_createContext.TentativeModel.Slug" />
                    </div>
                }
            </Content>
            <Footer>
                <Button Clicked="@OnCancelCreateClicked" Type="ButtonType.DefaultOutline">Cancel</Button>
                <Button Clicked="@OnConfirmCreateClicked" Type="ButtonType.Primary">Create</Button>
            </Footer>
        </Dialog>
    </Body>
</ContentSublayout>