@page "/app/{organizationSlug}/{hubSlug}/content/component-definitions"
@using Reach.Content.Model
@inherits ContentBasePage
<ContentSublayout Title="Component Definitions">
    <Toolbar>
        <Button Clicked="@OnBeginCreateClicked" Type="ButtonType.PrimaryOutline">
            @HeroIcons.SquaresPlus("inline-block mr-2")
            <span>New Definition</span>
        </Button>
        <Button Clicked="@RefreshData" Type="ButtonType.PrimaryOutline">
            @HeroIcons.ArrowUturnDown("inline-block")
        </Button>
    </Toolbar>
    <Body>
        @{
            IEnumerable<Field> fields = [
            new Field {
        Id = Guid.NewGuid(),
        Name = "Test field 1"
        },
        new Field {
        Id = Guid.NewGuid(),
        Name = "Test field 2"
        },
        new Field {
        Id = Guid.NewGuid(),
        Name = "Test field 3"
        },
        new Field {
        Id = Guid.NewGuid(),
        Name = "Test field 4"
        },
        ];
        }
        <TemplatedGrid Items="@_componentDefinitions">
            <ColumnTemplate>
                <Header>Name</Header>
                <Cell>
                    <a class="cursor-pointer" @onclick="@(() => { _isEditPaneOpen = true; StateHasChanged(); })">
                        <p class="underline">@context.Name</p>
                        <p class="text-sm opacity-75">@context.Id</p>
                    </a>
                </Cell>
            </ColumnTemplate>

            <ColumnTemplate>
                <Header>Slug</Header>
                <Cell>@context.Slug</Cell>
            </ColumnTemplate>

            <ColumnTemplate>
                <Header>Fields</Header>
                <Cell>@context.Fields.Count()</Cell>
            </ColumnTemplate>
        </TemplatedGrid>

        <OverPanel @bind-IsOpen="_isEditPaneOpen">

            <DraggableList Items="@fields" Equivalent="@((a,b) => a.Id == b.Id)">
                <ItemTemplate>
                    <p>@context.Name</p>
                    <p class="text-sm opacity-50">@context.Id.ToString()</p>
                </ItemTemplate>
            </DraggableList>
        </OverPanel>

        <Dialog Title="Create Component Definition" @bind-IsVisible="@_createContext.IsVisible">
            <Content>
                @if (_createContext.IsWaiting)
                {
                    <Spinner />
                }
                else
                {
                    <div class="mb-3">
                        <Label>Name</Label>
                        <TextBox @bind-Value="@_createContext.TentativeModel.Name" />
                    </div>

                    <div class="mb-3">
                        <Label>Slug</Label>
                        <TextBox @bind-Value="@_createContext.TentativeModel.Slug" />
                    </div>

                    <div class="mb-3">
                        <Label>Field Definition</Label>
                        <FieldDefinitionSelector />
                    </div>
                }
            </Content>
            <Footer>
                <Button Clicked="@OnCancelCreateClicked" Type="ButtonType.DefaultOutline">Cancel</Button>
                <Button Clicked="@OnConfirmCreateClicked" Type="ButtonType.Primary">Create</Button>
            </Footer>
        </Dialog>
    </Body>
</ContentSublayout>