@page "/app/{organizationSlug}/{hubSlug}/content/editor-definitions"
@inherits ContentBasePage
<ContentSublayout Title="Editor Definitions">
    <Toolbar>
        <Button Clicked="@OnBeginCreateClicked" Type="ButtonType.PrimaryOutline">
            @HeroIcons.SquaresPlus("inline-block mr-2")
            <span>New Definition</span>
        </Button>
        <Button Clicked="@RefreshData" Type="ButtonType.PrimaryOutline">
            @HeroIcons.ArrowUturnDown("inline-block")
        </Button>
    </Toolbar>
    <Body>
        <TemplatedGrid Items="@_contentContextProvider.EditorDefinitions">
            <ColumnTemplate>
                <Header>Id</Header>
                <Cell>
                    <ShortGuid Value="@context.Id" />
                </Cell>
            </ColumnTemplate>
            
            <ColumnTemplate>
                <Header>Name</Header>
                <Cell>
                    <a @onclick="@(() => OnBeginEditClicked(context))">
                        @context.Name
                    </a>
                </Cell>
            </ColumnTemplate>

            <ColumnTemplate>
                <Header>Slug</Header>
                <Cell>
                    <a @onclick="@(() => OnBeginEditClicked(context))">
                        @context.Slug
                    </a>
                </Cell>
            </ColumnTemplate>
            
            <ColumnTemplate>
                <Header>Editor</Header>
                <Cell>@context.EditorType</Cell>
            </ColumnTemplate>

            <ColumnTemplate>
                <Header>Parameters</Header>
                <Cell>@context.Parameters.Count()</Cell>
            </ColumnTemplate>
        </TemplatedGrid>

        <Dialog Title="Create Editor Definitions" @bind-IsVisible="@_createContext.IsVisible">
            <Content>
                @if (_createContext.IsWaiting)
                {
                    <Spinner />
                }
                else
                {
                    <NameAndSlugEditor @bind-Name="@_createContext.TentativeModel.Name"
                                       @bind-Slug="@_createContext.TentativeModel.Slug" />

                    <div class="mb-3">
                        <Label>Editor Type</Label>
                        <SubLabel>A razor component reference that enables editing of data within the Reach platform.</SubLabel>
                        <EditorSelector @bind-SelectedEditor="@_createContext.TentativeModel.EditorType" />
                    </div>
                }
            </Content>
            <Footer>
                <Button Clicked="@OnCancelCreateClicked" Type="ButtonType.DefaultOutline">Cancel</Button>
                <Button Clicked="@OnConfirmCreateClicked" Type="ButtonType.Primary">Create</Button>
            </Footer>
        </Dialog>

        <Flyout Placement="PanelPlacement.Right"
                Title=@($"{_editContext?.Name} - Editor Definition")
                @bind-IsVisible="@_isEditFlyoutVisible">
            <Content>
                <div class="mb-3 w-md max-w-full">
                    <Label>Name</Label>
                    <TextBox @bind-Value="@_editContextParameter.Name" />
                </div>

                <div class="mb-3">
                    <label>Display Name</label>
                    <TextBox @bind-Value="@_editContextParameter.DisplayName" />
                </div>

                <div class="mb-3">
                    <div class="flex items-center gap-2">
                        <select @onchange="OnNewParameterTypeChanged" class="flex-grow @Theme.Forms.SelectInput">
                            @{
                                var values = Enum.GetValues(typeof(EditorParameterType));
                            }
                            @foreach (var value in values)
                            {
                                <option value="@value"
                                        selected="@((EditorParameterType)value == _editContextParameter.Type)">
                                    @(((EditorParameterType)value).ToString())
                                </option>
                            }
                        </select>
                        <Button Type="ButtonType.PrimaryOutline" Clicked="OnAddParameter">
                            @HeroIcons.PlusCircle("inline-block")
                            <span>Add</span>
                        </Button>
                    </div>
                </div>

                <div class="mb-3">
                    <DraggableList @bind-Items=@_editParameters>
                        <ItemTemplate>
                            <EditorParameterDefinitionListItem 
                                @bind-Name="@context.Name" 
                                @bind-DisplayName="@context.DisplayName"
                                @bind-Type="@context.Type"
                            />
                        </ItemTemplate>
                    </DraggableList>
                </div>
            </Content>
            <Footer>
                <div class="flex items-center gap-2">
                    <Button Type="ButtonType.DefaultOutline" Clicked="@(() => { _isEditFlyoutVisible = false; StateHasChanged(); })">
                        <span>Cancel</span>
                    </Button>
                    <Button Type="ButtonType.Primary" Clicked="OnSaveParameters">
                        @HeroIcons.CloudArrowUp("inline-block")
                        <span>Save</span>
                    </Button>
                </div>
            </Footer>

        </Flyout>
    </Body>
</ContentSublayout>
