@inherits BaseUnitEditor
<div class="flex items-center gap-2">
    <TextBox Value="@_value.Value1" TModel="string" ValueChanged="@HandleValue1Changed" />
    <TextBox Value="@_value.Value2" TModel="string" ValueChanged="@HandleValue2Changed" />
    <TextBox Value="@_value.Value3" TModel="string" ValueChanged="@HandleValue3Changed" />
    <TextBox Value="@_value.Value4" TModel="string" ValueChanged="@HandleValue4Changed" />
    <select class="@Theme.Forms.SelectInput" @onchange="@HandleUnitChanged">
        @foreach (var unit in Units.Split([","], StringSplitOptions.RemoveEmptyEntries))
        {
            <option selected="@(_value.Unit == @unit)"
                    value="@unit">@unit</option>
        }
    </select>
</div>
<div class="text-xs opacity-50 mt-1">@_value.DisplayValue</div>