@rendermode InteractiveAuto
<ClickContainer OnClickedOutside="@OnClickedOutside">
    <div class="relative">
        <a class="cursor-pointer flex items-center gap-2" @onclick="@OnDropdownClicked">
            <img src="@_currentTenant.IconUrl" class="rounded-lg size-8" />
            <span class="text-gray-700 dark:text-white text-sm">@_currentTenant.Name</span>
            @HeroIcons.ChevronDown(widthAndHeight: "size-4")
        </a>

        @if(_isOpen) {
            <div class="absolute left-0 top-100 mt-2 rounded-lg overflow-hidden z-50 min-w-[200px] space-y-2 bg-white dark:bg-gray-900 shadow-lg rounded-lg border border-gray-300">
                @foreach(var tenant in _availableTenants) 
                {
                    var tenantClass = tenant.TenantId == _currentTenant.TenantId ?
                        "bg-indigo-800 text-white" :
                        "text-gray-700 hover:bg-indigo-800 hover:text-white";

                    <a class="p-3 cursor-pointer flex gap-2 items-center @tenantClass" @onclick="@(async () => await SelectTenant(tenant))">
                        <img src="@tenant.IconUrl" class="rounded-lg size-8" />
                        <span class="text-sm whitespace-nowrap">@tenant.Name</span>
                    </a>
                }
            </div>
        }
    </div>
</ClickContainer>