@inherits TazorBaseComponent

@if(Component != null)
{
    <div class="mb-3">
        @_updatedAt.ToLocalTime().ToString()
    </div>

    @foreach (var field in _editorMaps)
    {
        <div class="mb-3">
            <Label>@field.Name</Label>
            <DynamicComponent Type="@field.EditorType" Parameters="@field.Parameters" />

            <ul>
                @foreach(var kvp in field.Parameters)
                {
                    <li>@kvp.Key: @kvp.Value?.ToString()</li>
                }
            </ul>
        </div>
    }

    <div>
        <Button 
            Clicked="OnSaveClicked"
            Type="ButtonType.PrimaryOutline" 
            Disabled="@(!_editorMaps.Any(m => m.IsChanged))">
            Save
        </Button>
    </div>
}